body {
        margin: 0;
        padding: 0 10px 0 10px;
        height: 100%;
        background-color: aquamarine;
        overflow-y: auto;
        font-size: 16px;
}
#content {
        margin: 8% 0px 0px 17%;
        display: block;
        padding: 10px;
}

#headerh {
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 8%;
        /* position: fixed; */
        background-color: skyblue;
        /*opacity: 1.0;*/
        border: 1px solid #888;
        text-align: center;
}

#header p {
        border: 1px solid #888;
        background-color: white;
}

#navigation {
        display: block;
        top: 8%;
        left: 0px;
        width: 17%;
        height: 100%;
        position: fixed;
}
#navigation, input {
        border: 1px solid #888;
        background-color: thistle;
}
#postlinks *, footer * {
        background-color: yellow;
}

* html #headerh     {position: absolute;}
* html #navigation {position: absolute;}
a, span, .link {color: blue;}
