body {
  margin: 0;
  padding: 2%;
  background-color: lightgreen;
}

nav {
  display: flex;
  flex-direction: row;
}
nav * {
  margin: 0.2em;
  padding: 0.2em;
}
nav, footer {
  border: 3px solid green;
}
header { 
  border: 1px solid yellow;
}
  
hr {width: 66%;}

@media (max-width: 800px) nav {
  nav {
    display: flex;
    flex-direction: column;
  }
  
}






/* * {background: lavenderblush1} */
dl > dt {font-weight: bold}
