/* This stylesheet is meant for Spanish pages.
 * It should be kept in synch with "stylesheet.css", meant for English pages.
 * Matching lines should be the same line number
 * Currently, nearly all difference have to do with background-color and barder-color properties.
*/

body {
  margin: 0;
  padding: 2%;
  background-color: khaki;
}
nav {
  display: flex;
  flex-direction: column;
  border: 3px solid darkkhaki;
}
footer {
  border: 3px solid orange;
}
nav div {
  display: flex;
  flex-direction: row;
  border: 3px solid indianred;
}

body.pensamiento         { background-color: azure;}
body.pensamiento nav     { background-color: azure;
                         border-color: darkslategray;}
body.pensamiento footer  { background-color: azure;}
body.pensamiento nav div { border-color: darkslateblue;}
body.pensamiento header  { border-color: azure;}

/* Class religion for spirituality in Spanish, class spirit for spirituality in English */
body.religion         { background-color: lightsalmon;}
body.religion nav     { background-color: coral;
                         border-color: red;}
body.religion footer  { background-color: coral;}
body.religion nav div { border-color: red;}
body.religion header  { border-color: white;}

/* class tecnologia (Spanish), originally cloned from class computing (English) */

body.tecnologia         { background-color: lightcyan;}
body.tecnologia nav     { background-color: powderblue;
                         border-color: blue;}
body.tecnologia footer  { background-color: cyan;}
body.tecnologia nav div { border-color: blue;}
body.tecnologia header  { border-color: blue;}



/* Copy of styles in "stylesheet.css", meant for English pages */

body.spirit         { background-color: lavender;}
body.spirit nav     { background-color: mistyrose;
                       border-color: orchid;}
body.spirit footer  { background-color: lightgreen;}
body.spirit nav div { border-color: pink;}
body.spirit header  { border-color: thistle;}

body.computing         { background-color: lightcyan;}
body.computing nav     { background-color: powderblue;
                         border-color: blue;}
body.computing footer  { background-color: cyan;}
body.computing nav div { border-color: blue;}
body.computing header  { border-color: blue;}

body.biology         { background-color: bisque;}
body.biology nav     { background-color: wheat;
                       border-color: brown;}
body.biology footer  { background-color: wheat;}
body.biology nav div { border-color: brown;}
body.biology header  { border-color: wheat;}


body.farming         { background-color: palegreen;}
body.farming nav     { background-color: greenyellow;
                       border-color: green;}
body.farming footer  { background-color: lightgreen;}
body.farming nav div { border-color: lime;}
body.farming header  { border-color: lime;}


nav * {
  margin: 0.2em;
  padding: 0.2em;
}
header { 
  border: 1px solid yellow;
}
del {
  display: none;
}
ins {
  text-decoration: none;
}
  
hr {width: 66%;}

@media (max-width: 800px) nav {
  nav {
    display: flex;
    flex-direction: column;
  }
  
}

/* * {background: lavenderblush1} */
dl > dt {font-weight: bold}
